@* @model Portfolio *@

<section class="mt-15 md:mt-24 mb-5  ps-2 md:ps-20 pe-2 md:pe-4 w-lvw ">
    <div class="grid grid-cols-10 gap-4">

        <div class="col-span-10 ">
            <div
                class="flex flex-wrap gap-4 justify-center sm:justify-between items-center p-4 shadow-sm dark:shadow-md rounded-lg">
                @* <h4 class="text-2xl  font-bold text-white">@Model.PortfolioName</h4> *@
                <a href="@Url.Action("AddWallet","Account")"
                    class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5   dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 me-2 mb-2 w-full md:w-auto text-center "
                    title="go to P2P page">Add Wallet </a>
            </div>
        </div>


        <!-- balance-->
        <div class="col-span-10 lg:col-span-6 ">
            <div
                class="  bg-white  dark:bg-gray-800 dark:border-gray-700   h-full  border  border-gray-200 rounded-lg p-4 ">
                <!-- tabs -->
                <div class=" border-b border-gray-200 dark:border-gray-700 grid grid-cols-12  content-end">
                    <div class="flex flex-col justify-center  col-span-12  xl:col-span-4">
                        <h4 class="text-2xl   font-bold">Assets Overview </h4>
                    </div>
                    <div class="col-span-12 xl:col-span-8">
                        <ul class="flex flex-wrap xl:justify-end -mb-px text-sm font-medium text-center capitalize tabs-primary"
                            id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
                            <li class="me-2" role="presentation">
                                <button
                                    class="inline-block p-4 border-b-2 rounded-t-lg capitalize text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500"
                                    id="profile-tab" data-tabs-target="#profile" type="button" role="tab"
                                    aria-controls="profile" aria-selected="true">Balance </button>
                            </li>
                            <li class="me-2" role="presentation">
                                <button
                                    class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 capitalize dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                                    aria-controls="dashboard" aria-selected="false">Holdings</button>
                            </li>
                            <li class="me-2" role="presentation">
                                <button
                                    class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 capitalize dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                                    id="settings-tab" data-tabs-target="#settings" type="button" role="tab"
                                    aria-controls="settings" aria-selected="false">Pnl</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Table content -->
                <div id="default-tab-content" class="h-full py-5">
                    <!-- spot -->
                    <div class="" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- card-start -->
                        <div
                            class="grid grid-cols-4 content-center items-center md:flex-row justify-center align-center">
                            <div class="md:col-span-2 col-span-4 justify  ">
                                @* <div class="grid grid-cols-2 sm:grid-cols-1 gap-4">
                                    <div>
                                        <h6>Total Tokens</h6>
                                        <span class="text-lg sm:text-3xl font-bold">@Model.TotalValueUsd</span>
                                    </div>
                                    <div>
                                        <h6>Buy this month</h6>
                                        <span class="text-lg sm:text-2xl font-bold">3.0675432 BTC</span>
                                    </div>
                                    <div>
                                        <h6>Sell this month</h6>
                                        <span class="text-le sm:text-xl font-bold">2.0345618 BTC</span>
                                    </div>
                                    <div>
                                        <h6>Total Value USD:</h6>
                                        <span class="text-lg sm:text-xl font-bold">@Model.TotalValueUsd</span>
                                    </div>
                                     <div>
                                        <h6>Total Wallets</h6>
                                        <span class="text-lg sm:text-xl font-bold">@Model.TotalWallets</span>
                                    </div>
                                </div> *@
                            </div>
                        </div>
                        <!-- card-end -->
                    </div>


                    <!-- P2P -->
                    <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                        <!-- card-start -->
                        <div
                            class="grid grid-cols-4 content-center items-center md:flex-row justify-center align-center">
                            <div class="md:col-span-2 col-span-4 justify  ">
                                <div class="grid grid-cols-2 sm:grid-cols-1 gap-4">
                                    <div>
                                        <h6>Account balance</h6>
                                        <span class="text-lg sm:text-3xl font-bold">0.00005388 BTC</span>
                                    </div>
                                    <div>
                                        <h6>Buy this month</h6>
                                        <span class="text-lg sm:text-2xl font-bold">0.00005388 BTC</span>
                                    </div>
                                    <div>
                                        <h6>Sell this month</h6>
                                        <span class="text-lg sm:text-xl font-bold">2.0345618 BTC</span>
                                    </div>
                                    <div>
                                        <h6>Estimated Value:</h6>
                                        <span class="text-lg sm:text-xl font-bold">$2000.29</span>
                                    </div>
                                </div>
                            </div>

                            <div class="md:col-span-2 col-span-4 flex justify-center items-center"
                                id="apex-simple-donutp2p" style="min-height: 250px;">
                                <div id="apexchartsqayn6yay" class="apexcharts-canvas apexchartsqayn6yay"
                                    style="width: 0px; height: 250px;">
                                    <svg id="SvgjsSvg1024" width="0" height="250" xmlns="http://www.w3.org/2000/svg"
                                        version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS"
                                        transform="translate(0, 0)">
                                        <foreignObject x="0" y="0" width="0" height="250">
                                            <div xmlns="http://www.w3.org/1999/xhtml"
                                                style="position: relative; height: 100%; width: 100%;">
                                                <div class="apexcharts-legend"></div>
                                            </div>
                                        </foreignObject>
                                        <g id="SvgjsG1026" class="apexcharts-inner apexcharts-graphical">
                                            <defs id="SvgjsDefs1025"></defs>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <!-- card-end -->
                    </div>

                    <!-- margin -->
                    <div class="hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                        <!-- card-start -->
                        <div
                            class="grid grid-cols-4 content-center items-center md:flex-row justify-center align-center">
                            <div class="md:col-span-2 col-span-4 justify  ">
                                <div class="grid grid-cols-2  sm:grid-cols-1 gap-4">
                                    <div>
                                        <h6>Total balance:</h6>
                                        <span class="text-lg sm:text-3xl font-bold">0.00095000 BTC≈$3570</span>
                                    </div>
                                    <div>
                                        <h6>Total Debt:</h6>
                                        <span class="text-lg sm:text-2xl font-bold">0.00005388 BTC</span>
                                    </div>
                                    <div>
                                        <h6>Account Equity:</h6>
                                        <span class="text-lg sm:text-xl font-bold">2.0345618 BTC</span>
                                    </div>
                                    <div>
                                        <h6>Profit &amp; Loss:</h6>
                                        <span class="text-lg sm:text-xl font-bold">0.95 BTC(1.6.00%) $25 (8.00%)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="md:col-span-2 col-span-4" id="apex-circle-chart-multiplemargin"
                                style="min-height: 280px;">
                                <div id="apexchartshorsidftj" class="apexcharts-canvas apexchartshorsidftj"
                                    style="width: 0px; height: 280px;">
                                    <svg id="SvgjsSvg1027" width="0" height="280" xmlns="http://www.w3.org/2000/svg"
                                        version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS"
                                        transform="translate(0, 0)">
                                        <foreignObject x="0" y="0" width="0" height="280">
                                            <div xmlns="http://www.w3.org/1999/xhtml"
                                                style="position: relative; height: 100%; width: 100%;">
                                                <div class="apexcharts-legend"></div>
                                            </div>
                                        </foreignObject>
                                        <g id="SvgjsG1029" class="apexcharts-inner apexcharts-graphical">
                                            <defs id="SvgjsDefs1028"></defs>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <!-- card-end -->
                    </div>

                </div>

            </div>
        </div>
         <div class="col-span-10 lg:col-span-4 " id="chart">
            <div id="coins-content" class="">
           
    <!-- TradingView Widget Embed with Fullscreen Option -->
    <div class="w-full flex flex-col items-center py-6 relative">
         
        <div id="tv-chart-container" class="w-full" style="max-width: 900px;">
            <iframe id="tv-iframe"
                src="https://www.tradingview.com/widgetembed/?symbol=BINANCE:ETHUSDT&interval=1D&theme=dark"
                width="100%" height="400" frameborder="0" allowtransparency="true" scrolling="no"
                style="border-radius: 8px;"></iframe>
            <button id="tv-fullscreen-btn"
            class="absolute right-4 top-4 z-10 bg-gray-800 text-white px-3 py-1 rounded hover:bg-gray-700 text-xs"
            onclick="toggleTradingViewFullscreen(event)">
            Full Screen
        </button>
        </div>
    </div>
</div>
<script>
function toggleTradingViewFullscreen(e) {
    e.preventDefault();
    const container = document.getElementById('tv-chart-container');
    const iframe = document.getElementById('tv-iframe');
    const btn = document.getElementById('tv-fullscreen-btn');
    if (!document.fullscreenElement) {
        container.requestFullscreen().then(() => {
            iframe.style.height = "100vh";
            btn.textContent = "Exit Full Screen";
        });
    } else {
        document.exitFullscreen().then(() => {
            iframe.style.height = "400px";
            btn.textContent = "Full Screen";
        });
    }
}
// Handle exit from fullscreen via ESC or browser controls
document.addEventListener('fullscreenchange', function () {
    const iframe = document.getElementById('tv-iframe');
    const btn = document.getElementById('tv-fullscreen-btn');
    if (!document.fullscreenElement) {
        iframe.style.height = "400px";
        btn.textContent = "Full Screen";
    }
});
</script>
         </div>

        
        <!-- Alert form -->
        <div class="col-span-10 lg:col-span-4 hidden" id="alert">
            <form class="grid grid-cols-1 gap-4 border rounded-lg border-gray-200 dark:border-gray-700 p-4">
                <div class="flex justify-between items-center border-b pb-4 border-gray-200 dark:border-gray-700">
                    <h4 class="text-2xl font-bold">Set Price Alert</h4>
                </div>
                <div>
                    <label for="coin-select" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select
                        Coin</label>
                    <select id="coin-select"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="BTC">BTC - Bitcoin</option>
                        <option value="ETH">ETH - Ethereum</option>
                        <option value="USDT">USDT - Tether</option>
                        <option value="BNB">BNB - Binance Coin</option>
                        <option value="SOL">SOL - Solana</option>
                    </select>
                </div>
                <div>
                    <label for="alert-price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alert
                        Price (USD)</label>
                    <input type="number" id="alert-price" step="any"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Enter price to trigger alert" required>
                </div>

                <div>
                    <label for="alert-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alert Type 
                        </label>
                    <select id="alert-type"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="above">MA</option>
                        <option value="below">Price</option>
                        <option value="above">RSI</option>
                       
                    </select>
                </div>

                <div>
                    <label for="alert-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Trigger Condition
                        </label>
                    <select id="alert-type"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="above">Above</option>
                        <option value="below">Below</option>
                    </select>
                </div>

                <div>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Method</label>
    <div class="flex items-center mb-2">
        <input id="notify-email" name="notificationMethod" type="radio" value="email"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" checked>
        <label for="notify-email" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
    </div>
    <div class="flex items-center mb-2">
        <input id="notify-telegram" name="notificationMethod" type="radio" value="telegram"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="notify-telegram" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Telegram</label>
    </div>
</div>

                <div>
                    <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Set Alert
                    </button>
                </div>
            </form>
        </div>
        
        <!-- Holdings -->
<div class="col-span-10 lg:col-span-6">
    <div class="grid grid-cols-1 gap-4 border rounded-lg border-gray-200 dark:border-gray-700 p-4">
        <div class="border-b border-gray-200 dark:border-gray-700 grid grid-cols-2 md:grid-cols-2 content-end">
            <div class="flex justify-between items-center">
                <h4 class="text-2xl font-bold">Holdings</h4>
            </div>
            <div class="flex justify-end">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center capitalize tabs-primary"
                    id="default-tab-in" data-tabs-toggle="#default-tab-content" role="tablist">
                    <li class="me-2" role="presentation">
                        <button
                            class="inline-block p-4 border-b-2 rounded-t-lg capitalize text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500"
                            id="holdings-tab" data-tabs-target="#holdings" type="button" role="tab" aria-controls="holdings"
                            aria-selected="true" onclick="togglediv('coins')">Coins</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button
                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 capitalize dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                            id="alerts-tab" data-tabs-target="#alerts" type="button" role="tab"
                            aria-controls="alerts" aria-selected="false" onclick="togglediv('alerts')">Alerts</button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="default-tab-content-in" class="h-full">
            <!-- Holdings Tab -->
            <div class="" id="holdings" role="tabpanel" aria-labelledby="holdings-tab">
                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <h6 class="mb-4 font-semibold text-gray-900 dark:text-white">Top Coins</h6>
                        <table class="min-w-full border-separate border-spacing-y-2 space-y-2">
                            <thead>
                                <tr>
                                    <th class="px-6 py-4 text-left text-sm font-medium text-gray-900 dark:text-white">Symbol</th>
                                    <th class="px-6 py-4 text-left text-sm font-medium text-gray-900 dark:text-white">Amount</th>
                                    <th class="px-6 py-4 text-left text-sm font-medium text-gray-900 dark:text-white">Value (USD)</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr class="bg-gray-100 dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 rounded-lg"></tr>
                                        <td class="px-6 py-4 font-bold">0</td>
                                        <td class="px-6 py-4">0</td>
                                        <td class="px-6 py-4">0</td>
                                    </tr>
                                @* @foreach (var coin in Model.TopCoins)
                                {
                                    <tr class="bg-gray-100 dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 rounded-lg">
                                        <td class="px-6 py-4 font-bold">@coin.Symbol</td>
                                        <td class="px-6 py-4">@coin.Amount</td>
                                        <td class="px-6 py-4">$@coin.ValueUsd</td>
                                    </tr>
                                } *@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Alerts Tab -->
            <div class="hidden" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <h6 class="mb-4 font-semibold text-gray-900 dark:text-white">Active Price Alerts</h6>
                        <table class="min-w-full border-separate border-spacing-y-2 space-y-2">
                            <thead>
                                <tr>
                                    <th class="px-6 py-4 text-left text-sm font-medium text-gray-900 dark:text-white">Coin</th>
                                    <th class="px-6 py-4 text-left text-sm font-medium text-gray-900 dark:text-white">Target Price</th>
                                    <th class="px-6 py-4 text-left text-sm font-medium text-gray-900 dark:text-white">Type</th>
                                    <th class="px-6 py-4 text-left text-sm font-medium text-gray-900 dark:text-white">Email</th>
                                    <th class="px-6 py-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @* @foreach (var alert in Model.PendingAlerts)
                                {
                                    <tr class="bg-gray-100 dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 rounded-lg">
                                        <td class="px-6 py-4 font-bold">@alert.Coin</td>
                                        <td class="px-6 py-4">$@alert.TargetPrice</td>
                                        <td class="px-6 py-4">@alert.Type</td>
                                        <td class="px-6 py-4">@alert.Email</td>
                                        <td class="px-6 py-4">
                                            <form asp-action="CancelAlert" asp-controller="Account" method="post" class="inline">
                                                <input type="hidden" name="alertId" value="@alert.Id" />
                                                <button type="submit" class="text-red-600 hover:underline text-sm font-medium">Cancel</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                                @if (!Model.PendingAlerts.Any())
                                {
                                    <tr>
                                        <td colspan="5" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">No active alerts.</td>
                                    </tr>
                                } *@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Transaction History -->
        
<!-- Transaction History -->
<div class="col-span-10 md:col-span-10">
    <div class="border rounded-lg border-gray-200 dark:border-gray-700 p-4">
        <div class="flex justify-between items-center border-b pb-4 border-gray-200 dark:border-gray-700">
            <h4 class="text-2xl font-bold">Transaction History</h4>
        </div>
        <div class="mt-4 overflow-x-auto">
            <table class="min-w-full border border-gray-300 dark:border-gray-700 rounded-lg overflow-hidden shadow-sm">
                <thead class="bg-gray-100 dark:bg-gray-700">
                    <tr>
                        <th class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">Hash</th>
                        <th class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">Symbol</th>
                        <th class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">Date / Time</th>
                        <th class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">From Address</th>
                        <th class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">To Address</th>
                        <th class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">Value (ETH)</th>
                        <th class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">Transaction Fee</th>
                        <th class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">Status</th>
                        <th class="px-4 py-3 text-left text-xs font-semibold text-gray-700 dark:text-gray-200">Block Number</th>
                    </tr>
                </thead>
                <tbody>
                  
                    <tr class="bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-xs font-mono truncate max-w-xs">0x1234abcd...5678</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">ETH</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">2024-06-01 12:34</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 font-mono truncate max-w-xs">0xFromAddress123...</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 font-mono truncate max-w-xs">0xToAddress456...</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">1.2345</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">0.0021</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">
                            <span class="inline-block px-2 py-1 rounded bg-green-100 text-green-800 text-xs font-semibold">Completed</span>
                        </td>
                        <td class="px-4 py-3 text-xs">19876543</td>
                    </tr>
                    <tr class="bg-gray-50 dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800">
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 text-xs font-mono truncate max-w-xs">0x9876efgh...abcd</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">ETH</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">2024-06-01 13:45</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 font-mono truncate max-w-xs">0xFromAddress789...</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700 font-mono truncate max-w-xs">0xToAddress012...</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">0.5000</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">0.0010</td>
                        <td class="px-4 py-3 border-r border-gray-200 dark:border-gray-700">
                            <span class="inline-block px-2 py-1 rounded bg-yellow-100 text-yellow-800 text-xs font-semibold">Pending</span>
                        </td>
                        <td class="px-4 py-3 text-xs">19876544</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
</section>